@model Enterprises.PurchaseOfrawmaterials

@{
    ViewData["Title"] = "Добавление";
    
}

<style>
    h1, h4 {
        text-align: left;
        color: aqua;
    }

    p {
        text-align: left;
        color: red;
        font-size: 30px;
    }

    .row {
        font-size: 18px;
        width: auto;
        color: #ffffff;
    }
</style>


<div class="promo-block">
    <div class="container">
        <div class="margin-b-40">
            <div class="text-center">
                <h1 class="display-4">Предприятия по производству кондитерских изделий</h1>
            </div>
            <br /> <h1>Создание новой записи</h1>
            <br />
            <h4>Закупка сырья</h4>
            <br />
            <div class="Error">
                <p>@ViewBag.Massage</p>
            </div>

            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="RawMaterials" class="control-label">Сырье</label>
                            <select asp-for="RawMaterials" class="form-control" asp-items="ViewBag.RawMaterials"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="CountPur" class="control-label">Количество</label>
                            <input asp-for="CountPur" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label asp-for="Sum" class="control-label">Сумма</label>
                            <input asp-for="Sum" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label asp-for="Date" class="control-label">Дата</label>
                            <input asp-for="Date" class="form-control" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Employee" class="control-label">Сотрудник</label>
                            <select asp-for="Employee" class="form-control" asp-items="ViewBag.Employee"></select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Добавить" class="btn btn-success" />
                        </div>
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-primary">Назад</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>

            