@{
    ViewData["Title"] = "Производство товаров";
}

<meta charset="utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />

<!-- GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
<link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css" />
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- PAGE LEVEL PLUGIN STYLES -->
<link href="/css/animate.css" rel="stylesheet">
<link href="/vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />

<!-- THEME STYLES -->
<link href="/css/layout.min.css" rel="stylesheet" type="text/css" />

<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico" />

<div class="promo-block">
    <div class="container">
        <div class="margin-b-45">
            <h1 class="promo-block-title">Предприятия по производству кондитерских изделий</h1>
        </div>
    </div>
</div>
<div class="masonry-grid row row-space-2">
    <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
    <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-8 margin-b-4">
        <!-- Work -->
        <div class="work work-popup-trigger">
            <div class="work-overlay">
                <img class="full-width img-responsive" src="img/800x400/1.jpg" alt="Portfolio Image">
            </div>

        </div>
    </div>
    <!-- End Work -->
</div>
<div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 margin-b-4">
    <!-- Work -->
    <div class="work work-popup-trigger">
        <div class="work-overlay">
            <img class="full-width img-responsive" src="img/397x400/2.jpg" alt="Portfolio Image">
        </div>

    </div>
    <!-- End Work -->
</div>
<div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 md-margin-b-4">
    <!-- Work -->
    <div class="work work-popup-trigger">
        <div class="work-overlay">
            <img class="full-width img-responsive" src="img/397x300/3.jpg" alt="Portfolio Image">
        </div>

    </div>
    <!-- End Work -->
</div>
